/*------------------FORM-----------------*/

h1 {
    font-size: 30px;
    color: #e0922e;
    padding: .25rem;
}

form fieldset {
    margin: 2rem 0;
    padding: .5rem 2%;
    border: none;
}

form legend {
    font-size: 22px;
    color: black;
    margin: 0;
    padding: 0 .25rem;
    font-weight: bold;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: 1rem;
    }

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px brown;
    border-radius: 2px;
    padding: .25rem;
    color: gray;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.top input:required {
    border-left: #e0922e solid 6px;
}


.button {
    border: none;
    background-color: #7d593e;
    color: #ffffff;
    border-radius: 2%;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;

}

.uid {
    padding: 0;
    align-content: left;
    display: block;
}