/*------------------FORM-----------------*/

h1 {
    font-size: 30px;
    color: #e0922e;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid brown;
    padding: .5rem 2%;
}

form legend {
    font-size: 18px;
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
    }

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px green;
    border-radius: 2px;
    padding: .75rem;
    color: gray;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.top input:required {
    border-left: #e0922e solid 6px;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
}

.button {
    border: none;
    background-color: #7d593e;
    color: #ffffff;
    border-radius: 2%;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;

}