html {
    font-family: 'Ubuntu', sans-serif;
  }
  
  table {
    
    border: 2px solid rgb(200,200,200);
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 16px;
    box-shadow: 10px 10px 5px #628ca6;
    background-color: #7fb0c2;
    }

      
  tr:nth-child(even) td {
    background-color:#e7f0ed;;
  }
  
  tr:nth-child(odd) td {
    background-color: #e7ffed;
  }

    thead {
        background-color: #7fb9c2;
        color: black;
        font-size: 24px;
      }

    tfoot {
        background-color: #7fb9c2;
        color: black;
    
     }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  
  td {
    text-align: center;
  }
  th {
    color: white;
    background-color: #628ca6;
  }
  
  tr:nth-child(even) td {
    background-color:#e7f0ed;;
  }
  
  tr:nth-child(odd) td {
    background-color: #e7ffed;
  }
  

  

 