@media only screen and (min-width: 32.5em) {

    header img {
        width: 150px;
    }

    .logo {
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
        width: 125px;
        height: auto;
        
    }
    .motto {
        font-size: 1rem;
        color: #e0922e;
        font-style: italic;
        font-family: 'Montserrat', sans-serif;
        display: inline;
              
    }

    h1 {
        font-size: 28px;
        color: #000000;
        font-family: 'Slabo 27px', serif;
        font-weight: bold;
        text-align: center;
    }
    
    main {
        max-width: 900px;
        align-content: center;
    }

    .navigation li:first-child { 
        display: none;	
        padding: 1rem;
    }
  
    
    .navigation li { 
        display: inline-block; 
        margin-right: .5rem;
        padding: .2rem;
        
    }	
          
    .navigation li a { color: #ffffff;
    
    }

    nav ul li a:hover {
        color: #ffffff;
        background-color: #7d593e;
      }


    nav ul li a {
        padding: 6rem 1 rem;
        
    }

 .wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
}



    h1 {
        font-size: 2.5rem;
    }

    .stats {
        position: absolute;
        top: 25px;
        left: 25px;
        background-color: #eee;
        border: 1px solid #000;
        padding: .3rem;
        box-shadow: 0 0 30px #fff;
        font-size: 16px;
    }

    .headertext {
        margin-left: 4rem;
    }
    .forecasttable {
        display:block;
    }
   
}

