/* CIT 230 - Assignment Portal CSS Template */

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

nav {
    font-family: 'Montserrat', sans-serif;
    background-color: #40302c;
    text-align: center;
    color: #ffffff;
 
}

h1 {
    font-size: 32px;
    color: #000000;
}

h2 {
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #000000;
}
h3 {
    font-size: 18px;
    color: #e0922e;
}
header {
    background-color: #7d593e;
    text-align: center;
    padding: .5rem;
    color: #ffffff;
    font-family: 'Slabo 27px;', serif;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    
}


.motto {
    font-size: .9rem;
    color: #e0922e;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;

}

.hero {

}
.acc {
    color: #e6a757;
    font-size: 12px;
}
.main-article {
    background-color: #ecdfd6;
    color: #000000;
    border-style: solid;
    border-color: black;
    border-width: .5px;
    text-align: left;
    align-content: center;
}

picture {
    width: 75px;
    height: auto;
    float: right;
    margin: 0;
    box-shadow: 0 4px 8px 0 #000;
}

footer {
    margin: 10px auto;
    background-color: #7d593e;
    text-align: center;
    padding: .5rem;
    color: #ffffff;
    font-family: 'Slabo 27px;', serif;
}