/* CIT 230 - Assignment Portal CSS Template */

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif, Helvetica, Arial;
    color: #000000;
}

h1 {
    font-size: 20px;
    color: #000000;
}

h2 {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #000000;
}
h3 {
    font-size: 13px;
    color: #e0922e;
}
header {
    background-color: #7d593e;
    text-align: center;
    padding: .5rem;
    color: #ffffff;

}

header img {
    width: 75px;
    height: auto;
    vertical-align: middle;
    float: left;
}

.headertext {
    margin-left: .5rem;
    display: inline-block;
    vertical-align: middle;

}

.motto {
    font-size: .9rem;
    color: #e0922e;
    font-style: italic;

}

.hero {

}
.acc {
    color: #e6a757;
    font-size: 9px;
}
.main-article {
    background-color: #8f8e8d;
    color: #ffffff;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

picture {
    width: 75px;
    height: auto;
    float: right;
    box-shadow: 0 4px 8px 0 #000;
}