/* CIT 230 - Assignment Portal CSS Template */

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif, Helvetica, Arial;
    color: #000000;
}

h1 {
    font-size: 20px;
    color: #000000;
}

h2 {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #000000;
}
header {
    background-color: #7d593e;
    text-align: center;
    padding: .5rem;
    color: #ffffff;

}

header img {
    display: inline-block;
    width: 75px;
    height: auto;
    vertical-align: middle;
}

.headertext {
    margin-left: .5rem;
    display: inline-block;
    vertical-align: middle;

}

.motto {
    font-size: .9rem;
    color: #e0922e;
    font-style: italic;

}